ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    width: 100%;
    clear: both;
}

li{
	float: left;
	border: 2px solid #1B11EB;
	width: 24%;
}
li a {
    display: block;
    color: #FAFAFA;
    padding: 15px 20%;
    text-decoration: none;
    background-color: #1B11EB;
    border: 1px solid  #1B11EB;
    text-align: center;
    margin: 3px;


}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: #F0F809;

}