body { 
    background: url(http://i.imgur.com/Asbdvgw.png);
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
    margin: auto;
    position: relative;
	background: #fff;
	overflow: hidden;
}

.wrapper {
    width: 80%px;
	margin: 0 auto;
}

header .logo {
	display: inline;
	padding: 0 0 25px 10px;
	float: left;
	margin: 25px 0px;
}
header .logo {
  position:relative;
}
header .logo span {
  color:#F70606;
  white-space:nowrap;
  font-size:20px;
  position:absolute;
  bottom:0;
  left:10px;
  font-weight: bold;
}
header nav{
    float: right;
	margin: 25px 0px;
}

header nav ul{
    margin-top: 0px;
}

header nav ul li{
    display: block;
    float: left;
}

header nav ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 17px;
    padding-top: 15px;
	padding-bottom: 15px;
	transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

header nav ul li a.active,
header nav ul li a:hover{
  color: #cc3333;
  border-top: 1px dashed #cc3333;
	border-bottom: 1px dashed #cc3333;
}

header li {
  display: inline;
  border-left: 1px dashed #cc3333;
  padding: 10px 25px 10px 25px;
}

header li:first-child {
  border: none;
}

.topnav {
  overflow: hidden;
  background-color: #534FF1;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1.2%;
  text-decoration: none;
  font-size: 16px;
  width: 6.69%;
  font-weight: bold;
}
.topnav a:hover {
  background-color: #6D7277;
  color: black;
}
.topnav a.active {
  background-color: #F70C22;
  color: white;
}

.thongtin{
  clear: both;
  background-color: #fff;
}

.tieudett{
  text-align: center;
  font-size: 30px;
  padding: 16px;
  color: #F84040;
  font-weight: bold;
  font-family: 'myFont';
}

@font-face {
    font-family: myFont;
    src: url(Anton-Regular.ttf);
}

.bando{
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 16px;
}

.info{
  display: block;
  width: 80%;
  margin: 0 auto;
  font-family: 'myFont';
}

table{
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

th {
  background: #9BE624;
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

td{
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

footer{
  height: 200px;
  background-color: #fff;
  clear: both;
  width: 90%;
  margin: 0 auto;
  clear: both;
  margin-top: 16px;
}

.tfooter{
  clear: both;
  margin-left: 2%;
  
}
.ttfooter{
  float: left;
  margin: 1%;
}
.anhfooter{
  float: left;
  margin: 3%;
}

.ttfooter a{
  text-decoration: none;
  font-weight: bold;
}

